/* Button Styling */
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn {
  border: 2px solid $transparent;
  display: inline-block;
  min-width: 100px;
  padding: $padding;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: #fff;
    color: #000;
  }

  &-icon {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em;
    min-width: 110px;
    font-size: 14px;
  }

  &-primary {
    background: #fff;
    border-color: #fff;
    color: #000;
    &:hover,
    &:focus {
      background-color: darken(#fff, 10%);
      border-color: darken(#fff, 10%);
    }
  }

  &-mobile {
    text-transform: uppercase;
    color: #6a88dc;
    padding: $padding 2.5em;
  }

  &-secondary {
    background: $transparent;
    border-color: transparent;

    &:hover,
    &:focus {
      background-color: darken($transparent, 10%);
      color: #fff;
    }
  }
}

.language {
  color: $transparent;
  text-transform: uppercase;
  font-size: 16px;
}

.hamburger {
  background: url('../images/menu_icon.png') 50% 50% no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  border: none;
  transition: visibility 500ms ease-in-out;

  @media screen and (min-width: $bp-portrait) {
    display: none;
  }
}
