/* Helper Classes */
.desktop {
  display: none;
  @media screen and (min-width: $bp-portrait) {
    display: block;
  }
}
.mobile {
  @media screen and (min-width: $bp-portrait) {
    display: none;
  }
}

/* Text meant only for screen readers. */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.txt-upper {
  text-transform: uppercase;
}

.block {
  display: block;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
