@import './vars';
@import './helper';
@import './buttons';

/* Base Styling */
html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}

.page {
  min-height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(140, 115, 180, 0.8),
      rgba(96, 146, 197, 0.8)
    ),
    url('../images/pool.jpg');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 200px;
  @media screen and (min-width: $bp-portrait) {
    padding-bottom: 100px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
}

.access-menu {
  display: none;

  ul {
    display: flex;
    align-items: center;

    li {
      margin-left: 1em;
    }
  }

  @media screen and (min-width: $bp-portrait) {
    display: flex;
  }
}

.page-nav {
  display: none;
  position: absolute;
  top: 45%;
  right: -10px;

  @media screen and (min-width: $bp-portrait) {
    display: block;
  }

  ul {
    text-indent: -9999px;
  }

  a:before {
    content: "";
    line-height: 1em;
    width: 5px;
    height: 5px;
    background-color: $transparent;
    float: left;
    margin: .25em .25em 0;
    border-radius: 50%;
  }

  a.active:before {
    background-color: #fff;
  }
}

.cta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  transition: 500ms ease all;

  @media screen and (min-width: $bp-portrait) {
    flex-direction: row;
    margin-top: -2em;
  }

  &-text {
    text-align: center;
    margin: 2em 0 4em 0;
    @media screen and (min-width: $bp-portrait) {
      margin: 0;
      order: 2;
    }
  }

  &-image {
    @media screen and (min-width: $bp-portrait) {
      order: 1;
    }
  }

  &-meta {
    text-transform: uppercase;
    color: $transparent;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      width: 10%;
      left: 45%;
      height: 2px;
      background: $transparent;
    }
  }

  &-title {
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    margin: 0;
  }

  &-actions {
    display: flex;
    justify-content: center;
    margin: $padding auto;

    li {
      margin-left: 1em;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  color: $grey;
  font-size: 14px;

  @media screen and (min-width: $bp-portrait) {
    flex-direction: row;
    padding: 0.25em $padding;
    justify-content: space-between;
  }
}

.footer-nav {
  @media screen and (min-width: $bp-portrait) {
    order: 2;
  }

  ul {
    display: flex;

    li {
      margin-left: 0.5em;
      @media screen and (min-width: $bp-portrait) {
        margin-left: 1em;
      }
      position: relative;

      &:after {
        content: ' ';
        position: absolute;
        top: 40%;
        right: -5%;
        height: 30%;
        width: 1px;
        background: $grey;
        transform: skewX(-25deg);
        @media screen and (min-width: $bp-portrait) {
          right: -10%;
        }
      }

      &:first-child {
        margin: 0;
      }

      &:last-child:after {
        content: none;
      }
    }

    a {
      color: $grey;
      text-decoration: none;
      display: inline-block;
      padding: 0.5em;
    }
  }
}

.social {
  display: flex;
  margin: 1em 0;
  @media screen and (min-width: $bp-portrait) {
    margin: 0;
    order: 3;
  }

  img {
    height: 16px;
  }

  li {
    margin-left: 1em;

    &:first-child {
      margin: 0;
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
  }
}
